* {box-sizing: border-box;}
@import url("https://fonts.google.com/specimen/Source+Sans+Pro");
body {
  margin: 40px;
  background-color: #EBEBD3;
  font: Source Sans Pro;
}
h1 {
  text-align: center;
  display: block;
  font: Source Sans Pro;
  font-size: 4rem;
  }
h2 {
    text-align: center;
    display: block;
    font: Source Sans Pro;
    font-size: 2rem;
  }
figcaption {
  font-size: 12px;
}
.border {
    background-color: #EBEBD3;
    height: 10px
  }
.grid-container {
        width : 100%;
        max-width : 1200px;
    }
.wrapper {
  justify-content: center;
  margin: auto;
  font-size: 18px
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background-color: #EBEBD3;
  margin: auto
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  background-color: #EBEBD3;
  margin: auto;
}
.box {
  background-color: #EBEBD3;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.img {
  background-color: #fff;
}
img#data-viz{
  display: block;
  background-color: #EBEBD3;
  max-width: 100%;
  height: auto;
  margin: 0px;
}
img#data-collection{
  display: block;
  max-width: 100%;
  height: auto;
}
