/*There may not be as many commits in Github for changes to this file and to index.html as there actually would have been if I had understood how commits worked in time. As such, there appears to be much less work done on these files than there has been.*/
* {box-sizing: border-box;}
@import url("https://fonts.google.com/specimen/Source+Sans+Pro");
body {
  margin: 40px;
  background-color: #E4EEF0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
  }
h2 {
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
  }
figcaption {
  font-size: 12px;
}
.border {
  height: 20px;
  background-color: #121F27;
}
.border2 {
  height: 20px;
  background-color: #121F27;
}
.grid-container {
        width : 100%;
        max-width : 1200px;
}
.wrapper {
  justify-content: center;
  margin: auto;
  font-size: 18px
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  grid-gap: 30px; /*for some reason I cannot get grip gap to show up so that I an then color it and add some more interesting designs to my page.*/
  align-items: center;
  justify-content: center;
  background-color: #E4EEF0;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #E4EEF0;
}
.box {
  background-color: #E4EEF0;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.img {
  background-color: #E4EEF0;
}
img#data-viz{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0px;
}
img#data-collection{
  display: block;
  max-width: 100%;
  height: auto;
}
